/* :root {
    --f7-theme-color: #f00;
    --f7-theme-color-shade: #d60000;
    --f7-theme-color-tint: #ff2929;
    --f7-theme-color-rgb: 255, 0, 0;
  } */
html{
    min-height:100vh;
    margin:0;
}

.page-content{
    background-color:#FC9E4F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    margin:0;
    display:flex;
    align-items: center;
    flex-direction: column;
}

h1{
    color: #7D4600;
    color:#004F2D;
}
.card-content{
    color:#004F2D;
}

a.link::before{
    color:#AB5912;
}