
html{
    min-height:100vh;
    margin:0;
}

.page-content{
    background-color:#FC9E4F;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    margin:0;
    display:flex;
    align-items: center;
    flex-direction: column;
}

h1{
    color: #7D4600;
    color:#004F2D;
    text-align: center;
}
.card-content{
    color:#004F2D;
}

a.link::before{
    color:#AB5912;
}

/* swiper */
.demo-swiper .swiper-slide {
    font-size: 25px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
  }

  .demo-swiper {
    margin: 0px 0 35px;
    font-size: 18px;
  }
